@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  background-color: #000;
  background-image: radial-gradient(#ffffff, rgba(255, 255, 255, 0.07) 2px, rgba(0, 0, 0, 0) 40px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0) 30px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.05) 2px, rgba(0, 0, 0, 0) 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, rgba(0, 0, 0, 0) 10px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

* {
  font-family: Roboto;
}

.content h1 {
  font-weight: 900;
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-size: 55px;
}

svg#donut-chart {
  display: block;
  margin: 0 auto;
}

text.inner-circle {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.inner-image {
  height: 84px;
  width: 140px;
}

.arc {
  cursor: pointer;
}
.arc:hover {
  opacity: 0.85;
}
.arc text {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.inner-circle_heading {
  font-weight: 600;
}
